/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */


	
		header {
			width: 93.75%; /* 720px / 768px */
		}
		nav{
			position:absolute;
			top: 85px;
			width: 100%;
			left:0;
			right:0;
			margin-left:auto;
			margin-right:auto;
			z-index: 999;
		}
			.banner ul li h2{
				display: block;
				margin: 0 auto;
				margin-top: 125px;
				font-size: 150%;
				text-align:center;
				color: white;
				width: 90%;
			}		
				#marketSlide{
					background: url(../img/market768.jpg) no-repeat; background-size: 100% 100%;
				}
								#gestionSlide{
					background: url(../img/gestion768.jpg) no-repeat; background-size: 100% 100%;
				}
								#especializacionSlide{
					background: url(../img/asesoramiento768.jpg) no-repeat; background-size: 100% 100%;
				}
				#proteccionSlide{
					background: url(../img/proteccion768.jpg) no-repeat; background-size: 100% 100%;
				}
				#estudiosSlide{
					background: url(../img/estudios768.jpg) no-repeat; background-size: 100% 100%;
				}
		
		#maincontent{
			width: 93.75%; /* 720px / 768px */
		}

		
		.maincontent{
			width: 93.75%; /* 720px / 768px */
		}

		
		footer {
			width: 93.75%; /* 720px / 768px */
		}
		
