@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1pfnv1');
	src:url('fonts/icomoon.eot?#iefix1pfnv1') format('embedded-opentype'),
		url('fonts/icomoon.woff?1pfnv1') format('woff'),
		url('fonts/icomoon.ttf?1pfnv1') format('truetype'),
		url('fonts/icomoon.svg?1pfnv1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tea24:before {
	content: "\e600";
	color: red;
}

.icon-woman93:before {
	content: "\e601";
}

.icon-man343:before {
	content: "\e602";
}

.icon-businessman278:before {
	content: "\e603";
}

