/*

GRID STRUCTURE 
COPYRIGHT VEERY
	
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
/*

CONTAINER - CONTAINER-FULL

*/
.container {
  display: block;
  overflow: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-full {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*

GENERAL .ROW STYLING



.row:after {
	clear:both;
}
*/
.row {
  clear: both;
  padding: 0;
}
/*

GENERAL .COL STYLING

*/
.col {
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0;
}
@media (max-width: 768px) {
  .col {
    width: 100% !important;
    padding: 0;
  }
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.col-offset-1 {
  margin-left: 8.33333333%;
}
.col-offset-2 {
  margin-left: 16.66666667%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.33333333%;
}
.col-offset-5 {
  margin-left: 41.66666667%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.33333333%;
}
.col-offset-8 {
  margin-left: 66.66666667%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33333333%;
}
.col-offset-11 {
  margin-left: 91.66666667%;
}
.col-offset-12 {
  margin-left: 100%;
}
.col-pull-1 {
  right: 8.33333333%;
}
.col-pull-2 {
  right: 16.66666667%;
}
.col-pull-3 {
  right: 25%;
}
.col-pull-4 {
  right: 33.33333333%;
}
.col-pull-5 {
  right: 41.66666667%;
}
.col-pull-6 {
  right: 50%;
}
.col-pull-7 {
  right: 58.33333333%;
}
.col-pull-8 {
  right: 66.66666667%;
}
.col-pull-9 {
  right: 75%;
}
.col-pull-10 {
  right: 83.33333333%;
}
.col-pull-11 {
  right: 91.66666667%;
}
.col-pull-12 {
  right: 100%;
}
.col-push-1 {
  left: 8.33333333%;
}
.col-push-2 {
  left: 16.66666667%;
}
.col-push-3 {
  left: 25%;
}
.col-push-4 {
  left: 33.33333333%;
}
.col-push-5 {
  left: 41.66666667%;
}
.col-push-6 {
  left: 50%;
}
.col-push-7 {
  left: 58.33333333%;
}
.col-push-8 {
  left: 66.66666667%;
}
.col-push-9 {
  left: 75%;
}
.col-push-10 {
  left: 83.33333333%;
}
.col-push-11 {
  left: 91.66666667%;
}
.col-push-12 {
  left: 100%;
}
/* UNIVERSAL */
.shadow {
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
}
.no-shadow {
  box-shadow: none !important;
}
.block {
  display: block;
}
.hide {
  display: none;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.absolute-center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.medium-up {
  display: none;
}
@media (min-width: 768px) {
  .medium-up {
    display: block;
  }
}
.medium-down {
  display: none;
}
@media (max-width: 767px) {
  .medium-down {
    display: block;
    text-align: center;
  }
}
/* TEXT STYLES */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
img.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
img.circle {
  border-radius: 50%;
}
