@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto);
.yellow-base-background {
  background-color: #f1c40f;
}
.yellow-dark-background {
  background-color: #f39c12;
}
.yellow-light-background {
  background-color: #f3d458;
}
.module-panel {
  margin: 0.5rem 0.33333333rem 0.33333333rem 0.33333333rem;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.module-panel img {
  border-radius: 2px;
  min-height: 150%;
  width: 100%;
}
.module-panel.small {
  height: 300px;
}
.module-panel.medium {
  height: 400px;
}
.module-panel.large {
  height: 500px;
}
.module-panel#main {
  position: relative;
}
.module-panel#main h2.main-title {
  position: absolute;
  bottom: 85px;
  left: 5%;
  font-size: 3.5em;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px #4f4f4f;
}
.module-panel#main a.btn {
  position: absolute;
  bottom: 20px;
  left: 5%;
  color: white;
  font-size: 2.5em;
  text-shadow: 1px 1px #4f4f4f;
}
.module {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0.33333333rem 0.33333333rem 0.33333333rem;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}
.module .module-title {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}
.module .module-title.activator {
  cursor: pointer;
}
.module.small,
.module.medium,
.module.large {
  position: relative;
}
.module.small .module-header,
.module.medium .module-header,
.module.large .module-header {
  overflow: hidden;
}
.module.small .module-content,
.module.medium .module-content,
.module.large .module-content {
  overflow: hidden;
}
.module.small .module-action,
.module.medium .module-action,
.module.large .module-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.module.small {
  height: 300px;
}
.module.small .module-header.small {
  height: 32.5px;
}
.module.small .module-header.medium {
  height: 75px;
}
.module.small .module-header.large {
  height: 150px;
}
.module.small .module-content {
  height: 150px;
}
.module.medium {
  height: 400px;
}
.module.medium .module-header.small {
  height: 62.5px;
}
.module.medium .module-header.medium {
  height: 125px;
}
.module.medium .module-header.large {
  height: 250px;
}
.module.medium .module-content {
  height: auto;
}
.module.large {
  height: 500px;
}
.module.large .module-header.small {
  height: 82.5px;
}
.module.large .module-header.medium {
  height: 165px;
}
.module.large .module-header.large {
  height: 330px;
}
.module.large .module-content {
  height: 170px;
}
.module .module-header {
  position: relative;
}
.module .module-header img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.module .module-header .module-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.module .module-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}
.module .module-content p {
  margin: 0;
  color: inherit;
}
.module .module-content .module-title {
  line-height: 48px;
}
.module .module-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}
.module .module-action a {
  color: #f3d458;
  margin-right: 20px;
  text-transform: uppercase;
}
.module .module-action a:hover {
  color: #faedb7;
}
.module .module-reveal {
  padding: 20px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.module .module-reveal .module-title {
  cursor: pointer;
  display: block;
}
